<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<table id="movies_table">
    <thead>
      <tr>
        <th>
          <%= link_to "Title", movies_path(sort: 'title', direction: (@sort_column == 'title' && @sort_direction == 'asc') ? 'desc' : 'asc') %>
          <%= '↑' if @sort_column == 'title' && @sort_direction == 'asc' %>
          <%= '↓' if @sort_column == 'title' && @sort_direction == 'desc' %>
        </th>
        <th>
          <%= link_to "Rating", movies_path(sort: 'rating', direction: (@sort_column == 'rating' && @sort_direction == 'asc') ? 'desc' : 'asc') %>
          <%= '↑' if @sort_column == 'rating' && @sort_direction == 'asc' %>
          <%= '↓' if @sort_column == 'rating' && @sort_direction == 'desc' %>
        </th>
        <th>
          <%= link_to "Release Date", movies_path(sort: 'release_date', direction: (@sort_column == 'release_date' && @sort_direction == 'asc') ? 'desc' : 'asc') %>
          <%= '↑' if @sort_column == 'release_date' && @sort_direction == 'asc' %>
          <%= '↓' if @sort_column == 'release_date' && @sort_direction == 'desc' %>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.rating %></td>
          <td><%= movie.release_date %></td>
          <td><%= link_to "Show", movie_path(movie, sort: @sort_column, direction: @sort_direction) %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">Total: <%= @movies.count %></td>
      </tr>
    </tfoot>
</table>

<%= link_to "New movie", new_movie_path(sort: @sort_column, direction: @sort_direction) %>
